body{
    background-image: url();
    background-repeat: no-repeat;
    background-image: url(/assets/images/img6.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    color: #ffca0d;
}
h1{
    color: white;
    font-size: 30px;
}


nav{
    background-color: #425363;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
}
nav .logo{
    margin: 0;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;

}
nav ul{
    overflow: auto;
}
nav li{
    float: left;
    list-style: none;
    margin: 13px 20px;

}
nav li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    
}
nav li a:hover{
    color: #ffca0d;
    
}
.search{
    color:black;
    padding: 12px 75px;
}
.search input{
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px 20px;
    width: 130px;

}
.welcome{
    text-align: center;
}
.get img{
    height: 400px;
    width: 100%;

}
.welcome button{
    border: 2px #aaaaaa solid;
    background-color: #ed7700;
    padding: 10px 50px;
    border-radius: 50px;

}
.welcome button a{
    text-decoration: none;
    color: bisque;
    font-size: 20px;
}
.services{
    color: black;
}
.servicegrid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 2rem;

}
.service1, .service2, .service3, .service4, .service5, .service6{
    background-color: #bbbbbb;
    border: #ed7700 1px solid;
}

footer{
    /* background-color: #aaaaaa; */
    position: relative;
    width: 100%;
    background-color: #425363;
    bottom: 0;
    
    
}
footer .footer-container{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
footer .footer-container > div{
    padding: 20px;
    margin: 10px;
}
footer .footer-container .col1 ul li{
    overflow: auto;
    /* float: left; */
    list-style: none;
    margin: 13px 20px;
    
}
footer .footer-container .col1 li a{
    
    text-decoration: none;
    color: black;
}
footer .footer-container .col2{
    float: left;
}

.login{
    background-image: url(/ReMaS/assets/images/img4.jpg);
}
.form-signup{
    background-image: url(/assets/images/image7.jpg);
    color: white;
    width: 20%;
    height: 12cm;
    border-radius: 50px;
    margin: 1rem auto;
}
fieldset{
border: 0px;
margin: 0px;
}
h3{
    text-align: center;
}
.signup-button{
    background-color: rgba(185, 221, 22, 0.555);
    color: whitesmoke;
    width: 2cm;
    height: 1cm;
    border-radius: 50px;
}

/* .container{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-areas: 
    "b1 b1 b2 b2"
    "b3 b4 b4 b5"
    "b7 b6 b6 b5"
    ;
    grid-auto-rows: minmax(90px, auto);
    gap: 2rem;
    
    color: black;
}
.container .box1{
    background-color: aqua;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-area: b1;
    
}
.container .box2{
    background-color: plum;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-area: b2;
    
}
.container .box3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: orchid;
    grid-area: b3;
}
.container .box4{
    background-color: rgb(71, 61, 71);
    grid-column: 1/2;
    grid-row: 1/4;
    grid-area: b4;
}
.container .box5{
    background-color: rgb(128, 93, 128);
    grid-column: 1/2;
    grid-row: 1/4;
    grid-area: b5;
}
.container .box6{
    background-color: rgb(92, 52, 90);
    grid-column: 2/4;
    grid-row: 3/4;
    grid-area: b6;
}
.container .box7{
    background-color: rgb(196, 175, 195);
    grid-column: 1/2;
    grid-row: 3/4;
    grid-area: b7;
}
c2{
    display: grid;
    grid-template-columns: repeat(4. 1fr);
    grid-auto-rows: minmax(100px, auto);
    align-items: stretch;
} */

    /* background-image: url(/ReMaS/assets/images/img4.jpg);
} */
/* .flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: coral;
}
.flex-container > div{
    background-color: greenyellow;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 40px;

} */
/* .big-box div{
    border: 1px cornflowerblue solid;
    padding: 10px;
    justify-content: space-between;
    margin: 5px;
   


}
.big-box{
    display: flex; 
    
    
   
    
}

.small-box1{
    flex: 30px;
    background-color: chocolate;
}
.small-box2{
    flex: 2px;
    background-color: brown;
}
.small-box3{
    background-color: rgb(66, 2, 34);
    display: flex;
    flex-direction: column;
    flex: 10px;
} */
