body{
    background-image: url();
    background-repeat: no-repeat;
    background-image: url(/assets/images/img6.jpg);
    background-size: cover;
    background-position: center;
    color: #ffca0d;
}
h1{
    color: white;
}

nav{
    background-color: #425363;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
}
nav .logo{
    margin: 0;
    font-size: 45px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: 2px;

}
nav ul{
    overflow: auto;
}
nav li{
    float: left;
    list-style: none;
    margin: 13px 20px;

}
nav li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    
}
nav li a:hover{
    color: #ffca0d;
    
}
.search{
    color:black;
    padding: 12px 75px;
}
.search input{
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px 20px;
    width: 130px;

}
footer{
    background-color: #aaaaaa;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
footer .footer-container{
    display: flex;
.footer{
    margin: 50px;
}
.login{
    background-image: url(/ReMaS/assets/images/img4.jpg);
}
/* .flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: coral;
}
.flex-container > div{
    background-color: greenyellow;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 40px;

} */
/* .big-box div{
    border: 1px cornflowerblue solid;
    padding: 10px;
    justify-content: space-between;
    margin: 5px;
   


}
.big-box{
    display: flex; 
    
    
   
    
}

.small-box1{
    flex: 30px;
    background-color: chocolate;
}
.small-box2{
    flex: 2px;
    background-color: brown;
}
.small-box3{
    background-color: rgb(66, 2, 34);
    display: flex;
    flex-direction: column;
    flex: 10px;
} */
